.header {
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
    font-size: 2.6rem;
    color: white;
    cursor: default;
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
}

.listElement {
    font-family: 'Inconsolata', monospace;
    font-weight: 500;
    font-size: 1.3rem;
    cursor: default;
    margin-bottom: 5px;
    color: rgb(37, 35, 35);
    text-align: justify;
}

.pros {
    color: #1dd1a1 !important;
}

.con {
    color: #ff6b6b !important;
}

.ProsCons {
    /* background: linear-gradient(135deg, #5511da, #110464); */
    background-color: white;
    margin-right: 0px !important;
    margin-left: 0px !important;
    margin-top: 35px;
    -webkit-box-shadow: 0px 0px 5px 0px rgb(203, 203, 206);
    -moz-box-shadow: 0px 0px 5px 0px rgb(203, 203, 206);
    box-shadow: 0px 0px 4px rgb(203, 203, 206);
}

/* .pros li {
    color: #39FF14;
}

.cons li {
    color: #ED4C67;
} */